.form-custom {
  width: min(100%, 30rem);
  margin: 2rem auto;
}

.form-custom > * {
  display: block;
  width: 100%;
}

.form-custom > h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: brown;
  font-size: 3rem;
}

.form-custom > input {
  border: 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid brown;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.form-custom > input:focus {
  outline: none;
}

.form-custom > input::placeholder {
  color: brown;
}

.form-custom > label {
  font-size: 1.3rem;
  color: brown;
  margin-top: 1rem;
}

.form-custom > button {
  color: brown;
  border: 2px solid brown;
  margin: 1rem auto;
}
.form-custom > button:hover {
  color: white;
  background-color: brown;
  border: 2px solid brown;
}

.hidden {
  visibility: hidden;
}

.bottomToTop {
  animation: bottomToTop 0.3s ease-out;
}

@keyframes bottomToTop {
  0% {
    transform: translateY(2rem) translateX(0.9rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
