
.image{
  background-image: url(../../img/table.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

h1{
  color: white;
  font-size: 72px;
  font-weight: 500;
  padding-top: 50px;
  font-family: 'Oxygen', sans-serif;
  text-align:center;
  font-style: normal;
  letter-spacing: normal;
}
h2{
  font-family:'Oxygen', sans-serif;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: normal;
  font-style: normal;

}.description{
text-align: center;
}
p{
font-size: 16px;
font-family: 'Oxygen', sans-serif;
padding-top: 10px;
font-weight: normal;
font-style: normal;
letter-spacing: normal;
}
h4{
padding-top:5px;
font-size: 18px;
font-weight: normal;
font-style: normal;
letter-spacing: normal;
}