.logo {
  height: 35px;
  position: relative;
  top: -5px;
}

.navbar--custom {
  background-color: transparent;
}

.navbar__btns {
  /* background-image: linear-gradient(
    to right,
    var(--light-green),
    var(--white-green)
  ) !important; */
  font-family: Montserrat;
  background-color: var(--medium-green);
  font-weight: 500;
}
